{% extends "Admin_dashboard.html" %}
{% block content %}


{% if courses %}
<div class="row">
{% for course in courses %}
<div class="col">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> {{course.name}} </h5>
    <a href="/edit_course/{{course.id}}/{{email}}" class="btn btn-primary"> Edit Courses </a>
  </div>
</div>
</div>
{% endfor %}
</div>
{% endif %}

<div> 
    <a href="/add_course/{{email}}" class="btn btn-primary" type="button" style="justify-content: center;"> Add Courses </a>
</div>

{% endblock %}
