{% extends "Admin_dashboard.html" %}
{% block content %}

<form action="/edit_question/{{question.id}}/{{email}}" method="POST" >

  <h1> Edit Question  </h1>
  <div class="mb-3">
    <label for="text" class="form-label"> Title </label>
    <input type="text" class="form-control" id="text" name="title" value="{{question.title}}" >
  </div>
  <div class="mb-3">
    <label for="text" class="form-label"> Statement </label>
    <input type="text" class="form-control" id="text" name="question_statement" value="{{question.question_statement}}" >
  </div>
  <h3> Options: </h3>
  <div class="mb-3">
    <label for="text" class="form-label"> Option 1 </label>
    <input type="text" class="form-control" id="number" name="option1" value="{{question.option1}}" >
  </div>
  <div class="mb-3">
    <label for="text" class="form-label"> Option 2 </label>
    <input type="text" class="form-control" id="number" name="option2" value="{{question.option2}}" >
  </div>
  <div class="mb-3">
    <label for="text" class="form-label"> Option 3 </label>
    <input type="text" class="form-control" id="number" name="option3" value="{{question.option3}}" >
  </div>
  <div class="mb-3">
    <label for="text" class="form-label"> Option 4 </label>
    <input type="text" class="form-control" id="number" name="option4" value="{{question.option4}}" >
  </div>
  <div>
    <label for="correct_option" class="form-label"> Correct Option </label>
    <select class="form-select" id="correct_option" name="correct_option" value="{{question.correct_option}}" required>
        <option value="option1"> Option1 </option>
        <option value="option2"> Option2 </option>
        <option value="option3"> Option3 </option>
        <option value="option4"> Option4 </option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock%}